@model IEnumerable<Sklep.Models.Film>
@using Sklep.Infrastructure;
@{
    ViewBag.Title = "List";
    Layout = null;
}

<h2>List</h2>

<table border="1">
    @foreach (var film in Model)
    {
        <tr>
            <td><img src="@Url.GetFullImagePath(film.ImageName)" /></td>
            <td>@film.Title</td>
            <td>@film.Price PLN</td>
            <td>Dodaj do koszyka</td>
        </tr>
    }
</table>
